.book {
  width: 500px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}

.page {
  position: absolute;
  width: 50%;
  height: 100%;
  backface-visibility: visible;
  transition: transform 1s ease;
  z-index: 20;
}

.front-page {
  right: 0;
  transform: rotateY(0);
  z-index: 20;
}

.back-page {
  left: 0;
}

/* ani - css */
.flipped .front-page {
  transform: rotateY(-180deg);
  z-index: 20;
  backface-visibility: visible;
}
.flipped .front-page h1 {
  transform: rotateY(180deg);
}
.flipped .back-page {
  transform: rotateY(-180deg);
}
